<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outil de Dessin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Outil de Dessin</h1>
        <div class = "buttons">
            <button id="ButtonAccueil" class="buttonFooter">Accueil</button>
        </div>
    </header>
    <main>
        <section class="intro">
            <p class="instruction-paragraph">
                Essayez de dessiner un chiffre manuscrit dans la zone de Dessin dédiée. Vous devez ensuite enregistrer l'image avec le bouton Enregistrer. Enfin, vous pouvez prédire le chiffre dessiné avec le bouton Prédire.
            </p>
            
        </section>
        <section class="controls">
            <div class = "Width">
                <div>
                    <label for="lineWidth">Épaisseur du trait :</label>
                    <input type="range" id="lineWidth" min="20" max="40" value="3">
                </div>
                <div>
                    <label for="eraserWidth">Épaisseur de la gomme :</label>
                    <input type="range" id="eraserWidth" min="10" max="50" value="10">
                </div>
            </div>
            
            <button id="drawButton" class="button">Dessiner</button>
            <button id="eraserButton" class="button">Gomme</button>
            <button id="resetButton" class="button">Réinitialiser</button>
        </section>
        <div id="canvas-container" class="drawing-area">
            <canvas id="drawingCanvas"></canvas>
        </div>

        <div class="reset-section">
            <button id="saveButton" class="button">Enregistrer</button>
            <button id="predictButton" class="button">Prédire</button>
        </div>

        <div class ="predict-image">

        </div>
        <div class="messagesContainer">
            <div id="messageContainer" class="message">Message Container</div>
            <div id="predictionContainer" class="message">Prediction Container</div>
        </div>
        

    </main>
    <footer>
    </footer>

    <script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
</body>
</html>
